# Configuration Flask
SECRET_KEY=<cle_secrete_generee>

# Base de données PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=docclassify_db
DB_USER=<user>
DB_PASSWORD=<password>

# -- Model depuis hugging face --
HF_MODEL_ID = soumia-2026/docclassify